body{
	background-image: url(https://static.vecteezy.com/system/resources/previews/000/378/561/non_2x/vector-simple-geometric-pastel-background.jpg);
	background-size: cover;
}

h2{
	color: red;
}

p{
	color: #AA4139;
	text-align: center;
	border: 5px double #FFB0AA;
	line-height: 40px;
	font-style: italic;
	font-weight: bold;
	font-family: Papyrus;
}

img{
	float: left;
}