body{
    background-image: url('https://wallpaperaccess.com/full/326189.jpg');
    background-size: cover;
}

h1{
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
    background: -webkit-linear-gradient(red,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.animate__animated.animate__lightSpeedInRight{
    --animate-duration: 1.5s;
}

p{
    background-color: rgba(255,255,255,0.5);
    border: 2px solid grey;
    padding: 10px;
    text-align: center;
    margin: 50px 300px 50px 300px;
    margin-top: 150px;
}

nav{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img{
    float: left;
    
}

ul{
    list-style-type: none;
    float: right;
}

li{
    display: inline-block;
    margin-right: 50px;
    font-size: 30px;
    color: white;
}
#container{
    overflow: auto;
}